<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/bb3c8f3d06.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
  <title>Vue Slider</title>
</head>

<body>
  <section id="app" class="carousel">
    <div class="container">
      <div class="row">
        <!-- Slide principale -->
        <div class="main-slide col-10">
          <div v-for="slide in slidesArray" :class="{ 'slide' : true, 'active' : slide.active}">
            <img :src="slide.item" alt="">
            <div class="slide_info">
              <h2 class="slide_title">{{ slide.title }}</h2>
              <p class="slide_desc">{{ slide.text }}</p>
            </div>
          </div>
        </div>
        <!-- Menu slide -->
        <div class="slide-menu col-2">
          <!-- Lista slide -->
          <div class="slide-list">
            <div v-for="slide in slidesArray" :class="{ 'slide' : true, 'active' : slide.active}">
              <img :src="slide.item" alt="">
            </div>
          </div>
          <!-- Controlli -->
          <div class="controls-wrapper">
            <div class="control arrow-up" @click="changeSlide(true)">
              <i class="fa-solid fa-chevron-up"></i>
            </div>
            <div class="control arrow-down" @click="changeSlide(false)">
              <i class="fa-solid fa-chevron-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="app.js"></script>
</body>

</html>
